body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board{
    width: 400px;
    height: 400px;

    background-color: #bbada0;
    border: 6px solid #bbada0;
    border-radius: 5px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    border-radius: 10px;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x0 {
    background-color: #cdc1b4;
    color: #cdc1b4;
}
.x2 {
    background-color: #eee4da;
    color: #222222;
}
.x4 {
    background-color: #ede0c8;
    color: #222222;
}
.x8 {
    background-color: #f2b179;
    color: white;
}
.x16 {
    background-color: #f59563;
    color: white;
}
.x32 {
    background-color: #f67c5f;
    color: white;
}
.x64 {
    background-color: #f65e3b;
    color: white;
}

.x128 {
    background-color: #edcf72;
    color: white;
}

.x256 {
    background-color: #edcc61;
    color: white;
}

.x512 {
    background-color: #edc850;
    color: white;
}
.x1024 {
    font-size: 35px;
    background-color: #edc53f;
    color: white;
}
.x2048 {
    font-size: 35px;
    background-color: #edc22e;
    color: white;
}

.xMAX {
    font-size: 35px;
    background-color: #3c3a32;
    color: white;
}
.xMAX2 {
    font-size: 30px;
    background-color: #3c3a32;
    color: white;
}


